$navbar-inverse-bg: transparent;
$navbar-inverse-border: rgba(255,77,85,0.05);
$navbar-inverse-brand-hover-bg: rgba(255,77,85,0);
$navbar-inverse-link-active-bg: transparent;
$navbar-inverse-link-hover-bg: $navbar-inverse-bg;
$navbar-inverse-toggle-icon-bar-bg: rgba(255,77,85,0.8) !default;
$navbar-inverse-toggle-border-color: rgba(255,77,85,0.8) !default;
$navbar-inverse-toggle-hover-bg: #fff !default;






// Typos

$font-family-sans-serif:  "Quicksand", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Merriweather", Georgia, Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   "VT323", Menlo, Monaco, Consolas, monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px
