$navbar-inverse-bg: transparent;
$navbar-inverse-border: rgba(255,77,85,0.05);
$navbar-inverse-brand-hover-bg: rgba(255,77,85,0);
$navbar-inverse-link-active-bg: transparent;
$navbar-inverse-link-hover-bg: $navbar-inverse-bg;
