.loading-bar {
  background-color: rgba(255,77,85,0.8);
  margin-top: -3px;
  z-index: 9999;
  position: absolute;
  height: 3px;
}

.fill {
  width: 100%;
  height: 100%;
}

//////////
/// Logo//
//////////
.spin {
  display: block;
  padding: 0;

  & > p {
    //display: inline;
    //position: absolute;
    //top: 0;
    //margin-top: 38%;
    //margin-left: 38%;

  }

  &::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 5px;

  }

  &:active,
  &:hover {

    color: rgba(255,77,85,0.8);
  }

  &::before,
  &::after {
    top: 0;
    left: 0;
  }

  &::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    margin: 5px;
    border: 2px solid transparent; // We're animating border-color again
    border-top-color: rgba(255,77,85,0.3); // Show borders
    border-right-color: rgba(255,77,85,0.3) !important;
    border-bottom-color: rgba(255,77,85,0.3);
    border-left-color: rgba(255,77,85,0.3);


  }

  &:hover::before {
    border-top-color: rgba(255,77,85,1); // Show borders
    border-right-color: rgba(255,77,85,1);
    border-bottom-color: rgba(255,77,85,1);

    transition:
      border-top-color 0.15s linear, // Stagger border appearances
      border-right-color 0.15s linear 0.10s,
      border-bottom-color 0.15s linear 0.20s;
  }

  &::after {
    border: 0 solid transparent; // Makes border thinner at the edges? I forgot what I was doing
  }

  &:hover::after {
    border-top: 2px solid rgba(255,77,85,1); // Shows border
    border-left-width: 2px; // Solid edges, invisible borders
    border-right-width: 2px; // Solid edges, invisible borders
    transform: rotate(270deg); // Rotate around circle
    transition:
      transform 0.4s linear 0s,
      border-left-width 0s linear 0.35s; // Solid edge post-rotation
  }

  &.logo {
    border-radius: 100%;
    box-shadow: none;

    &::before,
    &::after {

      border-radius: 100%;
    }
  }
}
