div .git_avatar {
  margin-top: 40px;
}

div .gmap {
  height: 100vh;
  width: 35vw;
}

.gmap-right {
  background-color: black;
}

.git-name {

  font-size: 4vh;
}

.git-margin {
  margin-top: 10vh;
}
