div .git_avatar {
  margin-top: 40px;
}

div .gmap {
  height: 200vh;
  width: 100%;
}

.gmap-right {
  padding-right: 0px
}

div .circle {
  border-radius: 50%;
  width: 5%;
  padding-top: 5%;
  margin-right: 5px;
  height: auto;
  margin-bottom: -1.5px;
  display: inline-block;
}

.git-name {

  font-size: 4vh;
}

.git-margin {
  margin-top: 15vh;
}

.no-style {
  text-decoration: none;
  color:inherit;
}
.no-style:hover {
  text-decoration: none;
  color:inherit;
}

.repo_name {
  display: inline-block;
}

.repo_name_margin {
  margin-top: 30%
}

.text-bottom {
  position: absolute;
  bottom: 35%; // Dont ask why, should be zero
  width: 100%;
  text-align: center;
  z-index: 0;
}

//////////////////////////
/////// Square ///////////
//////////////////////////

.box-padding {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.box {
  margin: 5px 0;
  padding-bottom: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  /* Visual */
  border: 1px solid black;

}

.box__content {

  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
  width: 100%;
  height: 150%;
  overflow: hidden;
  position: absolute;

  &:before {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    position: absolute;
    background: #fd5c63;
    content: "";
    top: -120%;
    left: 0;
    transform: skewY(15deg) translateY(0);
    transition: all 500ms ease;
    z-index:2000;
  }

  &:after {
  position: absolute;
  transition: all 250ms ease;
  transform: translateY(-50%)

  }

  &:hover:before {
    top: -10%;
  }
  &:hover:after {
    color: #fff;
  }
}

.view {
  position: relative;
  height: 100%;
  display: block;
  margin: auto;
  margin-top: -20%;
  z-index: 3000;
  color: white;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}
