div .git_avatar {
  margin-top: 40px;
}

.code {


}

div .gmap {
  height: 200vh;
  width: 100%;
}

.gmap-right {
  padding-right: 0px
}

div .circle {
  border-radius: 50%;
  width: 5%;
  padding-top: 5%;
  margin-right: 5px;
  height: auto;
  margin-bottom: -1.5px;
  display: inline-block;
}

.git-name {

  font-size: 4vh;
}

.git-margin {
  margin-top: 15vh;
}

.repo_name {
  display: inline-block;
}

.repo_name_margin {
  margin-top: 15%
}

.text-bottom {
  position: absolute;
  bottom: 48%; // Dont ask why, should be zero
  width: 100%;
  text-align: center;
  z-index: 0;

  font-size: 15px;
}

.small {
  font-size: 10px;
  margin-top: -10px !important;
}

//////////////////////////
////// GitSquare /////////
//////////////////////////

.box-padding {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.box {
  margin: 5px 0;
  padding-bottom: 60%;
  position: relative;
  display: block;
  overflow: hidden;
  /* Visual */
  border: 1px solid rgba(241,102,100,0.5);

}

.box__content {

  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
  width: 100%;
  height: 200%;
  overflow: hidden;
  position: absolute;

  &:before {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    position: absolute;
    background: #fd5c63;
    content: "";
    top: -120%;
    left: 0;
    transform: skewY(15deg) translateY(0);
    transition: all 500ms ease;
    z-index:2000;
  }

  &:after {
  position: absolute;
  transition: all 250ms ease;
  transform: translateY(-50%)

  }

  &:hover:before {
    top: -30%;
  }
  &:hover:after {
    color: #fff;
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

////////////////////////////////////////
////////////Page Transitions////////////
////////////////////////////////////////


.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: margin-left 300ms ease-in;
}
