.mail-logo {
  display: block;
  height: 40px;
  vertical-align: middle;
  margin: auto;
  text-align: center;

  & > img {
    vertical-align: middle;
    margin: auto;
    height: 100%;
    max-width: 100%;
  }

  &.yahoo {
    vertical-align: middle;
    margin: 5px auto;
    height: 30px;
  }
}

input {
  &.mail {
    text-align: center;

    &.moved-down {
      transition-timing-function: ease;
      transition: margin 200ms;
      margin-top: 5px;
    }
  }

}

div.center {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}
