.mail-logo {
  display: block;
  height: 40px;
  vertical-align: middle;
  margin: auto;
  text-align: center;

  & > img {
    vertical-align: middle;
    margin: auto;
    height: 100%;
    max-width: 100%;
  }

  &.yahoo {
    vertical-align: middle;
    margin: 5px auto;
    height: 30px;
  }
}

input {
  &.mail {
    text-align: center;

    &.moved-down {
      transition-timing-function: ease;
      transition: margin 200ms;
      margin-top: 5px;
    }
  }

}

div.center {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

p {
  &.hr {
    overflow: hidden;
    text-align: center;
    color: rgba(0,0,0,0.6);
    &:before,
    &:after {
        background-color: rgba(0,0,0,0.2);
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    &:before {
        right: 0.5em;
        margin-left: -50%;
    }
    &:after {
        left: 0.5em;
        margin-right: -50%;
    }
  }
}
