$signboard-size: 62vmax;

div .home {
  position: absolute;
  display: block;
  padding-top: 65vh;
  text-align: center;
  width: 100%;
  background-color: white;



  .border {
    position: relative;
    width: 100%;
    height: $signboard-size;

    &.top {
      &::before{
        content:"";
        position: absolute;
        display: flex;
        width: 76.5%;
        height: 100%;
        margin-left: 11.8%;
        border-top: 2px solid rgb(240,240,240);
      }
    }

    &.left {
      &::before{
        content:"";
        position: absolute;
        display: flex;
        width: 20px;
        height: $signboard-size;
        margin-left: 11.8%;
        box-shadow:
          6px 0 white,
          -3px 0px 25px 1px rgba(240,240,240, 0.7);
      }
    }

    &.right {
      &::before{
        content:"";
        right: 0;
        position: absolute;
        display: flex;
        width: 20px;
        height: $signboard-size;
        margin-right: 11.8%;
        box-shadow:
          -1px 0 white,
          10px 0px 25px 1px rgba(240,240,240, 0.7);
      }
    }

    &.bottom {
      &::before{
        content:"";
        position: absolute;
        display: flex;
        width: 76.5%;
        height: $signboard-size;
        margin-left: 11.8%;
        border-bottom: 2px solid rgb(240,240,240);
      }
    }


  }
  .scroll {
    overflow-y: scroll;
    height: $signboard-size;
  }

  .central {
    top: 0;
    display: table;
    position: relative;
    width: 100%;
    height: $signboard-size;

    h1 {

      &.title {
        padding-top: 10px;
        font-weight: 900;
        font-family: "Teko", serif !important;
        color: rgba(255,77,85,1);
        text-transform: uppercase;
        font-size: calc(12px + 5vw);
        line-height: calc(12px + 5vw);
      }

      &.description {
        text-align: left;
        font-weight: 200;
        color: rgba(0,0,0,0.6);
        font-family: "Palanquin", serif !important;
        font-size: calc(16px + 0.8vw);
      }
    }

    h2 {
       &.sub {
         text-align: left;
         color: rgba(0,0,0,1);
         font-size: calc(12px + 0.4vw);;
       }
    }



    & > h4 {
      display: block;
      font-family: "Teko", serif !important;
      text-transform: uppercase;
      font-weight: 600;
      font-size: calc(12px + 0.6vw);
    }

    p {
      text-align: left;
      font-size: calc(12px + 0.5vw);
      font-family: "Palanquin", serif !important;

      & > span {
        //font-family: "Amatic SC", serif !important;
      }
    }

    ul {
      padding-left: 14px;
      text-align: left;
      font-size: calc(12px + 0.5vw);
    }

    .pad {
      padding-left: 15px;
    }
  }


  .vertical-line {

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      background-color: rgba(0,0,0,0.1);
      left: 5px;
      height: 45vmax;
    }
  }

  .banner {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 65vh;
    width: 100%;

    > img.profile {
      position: relative;
      display: block;
      object-fit: cover;
      object-position: 50% 90%;
      width: 100vw;
      height: 100%;
    }
  }

  .footer {
    position: relative;
    display: block;
    bottom: 0;
    height: 45vh;
    width: 100%;

    > img {
      position:relative;
      display: block;
      bottom: 0;
      object-fit: cover;
      object-position: 50% 95%;
      width: 100%;
      height: 100%;
    }

    &::before {
      position: absolute;
      display: flex;
      height: 100%;
      width: 100%;
      padding-top: 40vh;
      justify-content: center;
      align-content: center;
      z-index: 5000;
      color: white;
      content: "Made w/ code by Juan Biltes"
    }

  }

  .hand {
    position: absolute;
    display: block;
    margin-top: 60px;
    width: 50%;
    object-fit: cover;
    object-position: 50% 40%;
  }
}

.left {
  //right: 10px;

  > .hand {
    right: 0;
  }
}

.right {
  display: block;
  > .hand {
    left: 0;
  }
}
